#home {
     .album {
          margin: 30px auto;
          margin-bottom: 40px;
          max-width: 860px;
          cursor: pointer;

          .artist {
               height: 55px;
               line-height: 55px;
               padding: 0px 15px;
               position: relative;

               img {
                    display: inline-block;
                    vertical-align: middle;
                    height:  25px;
                    border-radius: 50%;
               }
               h3 {
                    font-size: 25px;
                    left: 45px;
                    position: absolute;
                    display: inline-block;
                    vertical-align: middle;
                    line-height: 55px;
               }
          }

          .img {
               position: relative;
               
               .title {
                    margin: 0;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $white;
                    text-transform: uppercase;
                    font-size: 50px;
                    opacity: 0.85;
                    font-family: 'Megrim', cursive;
                    text-shadow: 5px 0px 1px #37677b;
               }
          }
     }
     .img {
          border-radius: 1px;
          overflow:hidden;

          .screen {
               background: rgba(8, 34, 45, .9) url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAYAAACddGYaAAAAD0lEQVQIW2NkQABjRmQOAAM+AGkQsDBSAAAAAElFTkSuQmCC) repeat;
               width: 100%;
               height: 100%;

               .cover {
                    transform: scale(1);
                    transition: transform 0.3s ease-in-out;
                    overflow: hidden;
                    opacity: .5;
                    width: 100%;
                    height: 450px;


                    &:hover {
                         opacity: 0.7;
                         transition: opacity .25s;
                         transform: scale(1.1);
                         transition: transform 0.3s ease-in-out;
                    }
               }

               .active {
                    opacity: 0.7;
                    transition: opacity .25s;
                    transform: scale(1.1);
                    transition: transform 0.3s ease-in-out;
               }
          }
     }
}

@media(min-width:768px) {
     #home {
          .album {


               .artist {
                    height: 60px;
                    line-height: 55px;
                    position: relative;

                    img {
                         display: inline-block;
                         vertical-align: middle;
                         height: 50px;
                         border-radius: 50%;
                    }

                    h3 {
                         font-size: 38px;
                         left: 70px;
                         position: absolute;
                         display: inline-block;
                         vertical-align: middle;
                         line-height: 55px;
                    }
               }

               .img {


                    .title {}
               }
          }

          .img {


               .screen {


                    .cover {



                         &:hover {}
                    }

                    .active {}
               }
          }
     }
}