#posts {

    .posts {
        max-width: 860px;
        margin: 0 auto;
        padding-top: 5px;
    }

    #feat {
        background: #5e6375;

        a {
            color: #f3f3f3;
        }
        
        .tag {
            background: #acb0db;
            color: #5e6375;
        }
    }

    .post {
        background: $white;
        margin-bottom: 10px;
        padding: 15px 15px;

        .summary {

            h2 {
                font-size: 1.4rem;
                margin-bottom: 5px;
            }

            h3 {
                font-size: 1rem;
                font-family: 'Nunito', Fallback, sans-serif;
                margin: 5px 0;
            }

            .meta {
                font-size: 1rem;
                padding: 5px 0;
                span {
                    margin-right: 10px;
                }
                img {
                    width: 40px;
                    margin-right: 2px;
                }
            }
        }

        .tags {
            .tag {
                font-size: .6rem;
                display: inline-block;
                background-color: #9aa5ce;
                padding: 2px 5px;
                border-radius: 1px;
                margin-right: 5px;
                margin-top: 5px;
                color: #f3f3f3;
            }
        }
    }
    
    .sticky {
        position: absolute;
        right: 10px;
        top: 10px;
        margin-bottom: -31px;

        img {
            width: 25px;
            cursor: pointer;
            float: right;
        }
    }

    #searchInput {
        width: 100%;
        border: none;
        padding: 5px 15px 8px;
        font-size: 1.5rem;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-family: 'Dank Mono', Fallback, sans-serif;
        color: $white;
        background: #8790b1;
        margin-bottom: 10px;
    }
    ::placeholder {
        /* Most modern browsers support this now. */
        color: #acb0db;
    }
    .noResults {
        padding: 15px;
        font-size: 1.5rem;
        color: #8790b1;
    }

    .btn {
        width: 49%;
        border: none;
        background: #9399b3;
        font-size: 1rem;
        color: #d9dee4;
        padding: 10px;
    }
    .btn.active {
        background: #8790b1;
        color: #d9dee4;
    }

    aside {
        display: none;
    }

}

@media (min-width: 768px) {
    #searchInput {
        margin-bottom: 0px !important;
    }
}

// Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) {
    #posts {

        .post {
            margin-bottom: 15px;
            padding: 25px 30px;

            .summary {

                h2 {
                    font-size: 2rem;
                }

                h3 {
                    font-size: 1.2rem;
                }
            }
        }

    }
}

// Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { 
    #posts {

        .post {
            margin-bottom: 20px;
            padding: 40px 50px;

            .summary {

                h2 {
                    font-size: 40px;
                }

                small {
                    font-size: 1.125em;
                }

                h3 {
                    font-size: 20px;
                    
                }
            }
        }

        aside {
            display: block;

            li {
                font-size: 1rem;
                background-color: #9399b3;
                padding: 10px 10px;
                border-radius: 1px;
                margin-right: 5px;
                margin-top: 5px;
                color: #d9dee4;
                cursor: pointer;
            }

            li.active {
                background-color: #8790b1;
            }

            .tag {
                display: inline-block;
            }
        }
    }
    
}